header{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('/art-show/docs/assets/images/greenMountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}