html, body{margin: 0 auto; background-color: rgb(236, 222, 222); font-family: 'Oswald', sans-serif;}

.topBar{top: 0; background-color: black; width: 100%;}

#websiteTitle{color:white; text-align: center; width: wrap; position: relative; left: 1%;}

span{color: white; font-size: 36px; top: 0;}

.top{display: inline-block; margin-left: 10px; position: relative; left: 78%;}

.artistBio{
    display: grid;
    grid-template-areas: "artist" "content";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

#bio{
    grid-area: "content"; 
    text-align: center;
    width: 75%;
    padding: 50px 10px;
    background-color: black; 
    color: whitesmoke; 
    position: relative; 
    align-self: center; 
    justify-content: center;
    margin-top: 20%;
} 

.artistImages{
    grid-area: "artist";
    position: relative;
    margin-top: 20%;
    margin-left: 200px;
}

#sassyJackie{margin-left: -50px;}
.artist{box-shadow: 10px 10px rgb(160, 109, 109);}