html, body{margin: 0 auto; background-color: #D3DCF2; font-family: 'Oswald', sans-serif;}

#topBar{position: fixed; top: 0; background-color: black; width: 100%; height: 10%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;}

#topBar p{padding: 5px 0px 10px 20px; font-size: 2rem; color: white;}

.material-icons-round{color: white;}

.material-icons-outlined{color: white;}

#navIcons{padding-right: 20px;}

#navIcons a{padding-left: 5px;}


