html, body{margin: 0 auto; background-color: rgb(53, 143, 88); font-family: 'Oswald', sans-serif;}

.topBar{top: 0; background-color: black; padding: 10px; float: left;}

#websiteTitle{color:white; text-align: center;}

span{color: white; font-size: 10px; z-index: 3;}